[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
tabulate = "*"
install = "*"
click = "*"
colorama = "*"
chardet = "*"
openpyxl = "*"
click-spinner = "*"
pyinstaller = "*"

[dev-packages]
install = "*"
ipython = "*"
pyinstaller = "*"
nuitka = "*"

[requires]
python_version = "3.12"

